@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/mshaugh/nerdfont-webfonts@v3.3.0/build/firacode-nerd-font.css");

@import "tailwindcss";
:root {
  --background: #f75049f75049;
  --foreground: #171717;
}

@theme inline {
  --color-yellowx: #f0b537;
  --color-orangex: #fb932e;
  --color-violetx: #9d2bf5;
  --color-bluex: #2570d4;
  --color-greenx: #1ded83;
  --color-greyx: #d6d0d0;
  --color-cyanx: #5ef6ff;
  --color-whitex: #f75049f75049;
  --color-redx: #f75049;
  --color-darkbluex: #0e0e17;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-rajdhani: "Rajdhani", sans-serif;
  --font-orbitron: "Orbitron", sans-serif;
  --font-nerdfonts: "FiraCode Nerd Font", monospace;
  --animate-ws-slide-in: ws-slide-in 0.35s ease-out;
  --animate-ws-slide-out: ws-slide-out 0.35s ease-in;

  @keyframes ws-slide-in {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes ws-slide-out {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  @keyframes h1 {
    0% {
      height: 3px;
    }
    100% {
      height: 4px;
    }
  }

  @keyframes h2 {
    0% {
      height: 2px;
    }
    100% {
      height: 5px;
    }
  }

  @keyframes h4 {
    0% {
      height: 1px;
    }
    100% {
      height: 3px;
    }
  }

  @keyframes h3 {
    0% {
      height: 1px;
    }
    100% {
      height: 4px;
    }
  }
  --animate-h-1: h1 1s ease-out infinite;
  --animate-h-2: h2 1s ease-out infinite;
  --animate-h-3: h3 1s ease-out infinite;
  --animate-h-4: h4 1s ease-out infinite;

  @keyframes blink {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  --animate-blink-slow: blink 1.4s ease-out infinite;
  @keyframes expandleft {
    0% {
      margin-left: 0px;
      opacity: 1;
    }
    25% {
      margin-left: 25px;
      opacity: 0.6;
    }
    50% {
      margin-left: 50px;
      opacity: 0;
    }
    75% {
      margin-left: 25px;
      opacity: 0.6;
    }
    100% {
      margin-left: 0px;
      opacity: 1;
    }
  }
  --animate-expandl1: expandleft 7s ease-out infinite;
  --animate-expandl2: expandleft 7s ease-out infinite;
  --animate-expandl3: expandleft 7s ease-out infinite;

  @keyframes expandright {
    0% {
      margin-right: 0px;
      opacity: 1;
    }
    25% {
      margin-right: 25px;
      opacity: 0.6;
    }
    50% {
      margin-right: 50px;
      opacity: 0;
    }
    75% {
      margin-right: 25px;
      opacity: 0.6;
    }
    100% {
      margin-right: 0px;
      opacity: 1;
    }
  }
  --animate-expandr1: expandright 7s ease-out infinite;
  --animate-expandr2: expandright 7s ease-out infinite;
  --animate-expandr3: expandright 7s ease-out infinite;
  @keyframes pulse-slow {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  --animate-blink-medium: pulse-slow 0.9s ease-out infinite;
}

.font-rajdhani {
  font-family: var(--font-rajdhani);
}
.font-orbitron {
  font-family: var(--font-orbitron);
}
.bg-scanner {
  background-image: url("./../public/scanner-left-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Custom Scrollbar */
.radio-list::-webkit-scrollbar {
  width: 3px;
  height: 4px;
}

.radio-list::-webkit-scrollbar-track {
  background: #0e0e1800;
}
.radio-list::-webkit-scrollbar-thumb {
  background: #f75049;
  width: 3px;
  border-radius: 10px;
}

.radio-list::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

.glitch {
  position: relative;
  color: #f75049;
}

.line:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}
.line:nth-child(1) {
  -webkit-animation: clip 3000ms -300ms linear infinite,
    glitch1 500ms -386ms linear infinite;
  animation: clip 3000ms -300ms linear infinite,
    glitch1 500ms -386ms linear infinite;
}
@-webkit-keyframes glitch1 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #f75049;
  }
  85% {
    transform: translateX(0px);
    color: #f75049;
  }
  90% {
    transform: translateX(-1px);
    color: #ac1212;
  }
  95% {
    transform: translateX(5px);
    color: #f75049;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glitch1 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #f75049;
  }
  85% {
    transform: translateX(0px);
    color: #4e9a26;
  }
  90% {
    transform: translateX(-1px);
    color: #ac1212;
  }
  95% {
    transform: translateX(5px);
    color: #f75049;
  }
  100% {
    transform: translateX(0);
  }
}
.line:nth-child(2) {
  -webkit-animation: clip 3000ms -600ms linear infinite,
    glitch2 500ms -729ms linear infinite;
  animation: clip 3000ms -600ms linear infinite,
    glitch2 500ms -729ms linear infinite;
}
@-webkit-keyframes glitch2 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #f75049;
  }
  85% {
    transform: translateX(1px);
    color: #4e9a26;
  }
  90% {
    transform: translateX(-3px);
    color: #ac1212;
  }
  95% {
    transform: translateX(1px);
    color: #f75049;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glitch2 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #f75049;
  }
  85% {
    transform: translateX(1px);
    color: #4e9a26;
  }
  90% {
    transform: translateX(-3px);
    color: #ac1212;
  }
  95% {
    transform: translateX(1px);
    color: #f75049;
  }
  100% {
    transform: translateX(0);
  }
}
.line:nth-child(3) {
  -webkit-animation: clip 3000ms -900ms linear infinite,
    glitch3 500ms -372ms linear infinite;
  animation: clip 3000ms -900ms linear infinite,
    glitch3 500ms -372ms linear infinite;
}
@-webkit-keyframes glitch3 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #f75049;
  }
  85% {
    transform: translateX(-2px);
    color: #4e9a26;
  }
  90% {
    transform: translateX(0px);
    color: #ac1212;
  }
  95% {
    transform: translateX(-2px);
    color: #f75049;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glitch3 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #f75049;
  }
  85% {
    transform: translateX(-2px);
    color: #4e9a26;
  }
  90% {
    transform: translateX(0px);
    color: #ac1212;
  }
  95% {
    transform: translateX(-2px);
    color: #f75049;
  }
  100% {
    transform: translateX(0);
  }
}
.line:nth-child(4) {
  -webkit-animation: clip 3000ms -1200ms linear infinite,
    glitch4 500ms -198ms linear infinite;
  animation: clip 3000ms -1200ms linear infinite,
    glitch4 500ms -198ms linear infinite;
}
@-webkit-keyframes glitch4 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #f75049;
  }
  85% {
    transform: translateX(-2px);
    color: #4e9a26;
  }
  90% {
    transform: translateX(1px);
    color: #ac1212;
  }
  95% {
    transform: translateX(-1px);
    color: #f75049;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glitch4 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #f75049;
  }
  85% {
    transform: translateX(-2px);
    color: #4e9a26;
  }
  90% {
    transform: translateX(1px);
    color: #ac1212;
  }
  95% {
    transform: translateX(-1px);
    color: #f75049;
  }
  100% {
    transform: translateX(0);
  }
}
.line:nth-child(5) {
  -webkit-animation: clip 3000ms -1500ms linear infinite,
    glitch5 500ms -583ms linear infinite;
  animation: clip 3000ms -1500ms linear infinite,
    glitch5 500ms -583ms linear infinite;
}
@-webkit-keyframes glitch5 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #f75049;
  }
  85% {
    transform: translateX(-4px);
    color: #4e9a26;
  }
  90% {
    transform: translateX(-2px);
    color: #ac1212;
  }
  95% {
    transform: translateX(-1px);
    color: #f75049;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glitch5 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #f75049;
  }
  85% {
    transform: translateX(-4px);
    color: #4e9a26;
  }
  90% {
    transform: translateX(-2px);
    color: #ac1212;
  }
  95% {
    transform: translateX(-1px);
    color: #f75049;
  }
  100% {
    transform: translateX(0);
  }
}
.line:nth-child(6) {
  -webkit-animation: clip 3000ms -1800ms linear infinite,
    glitch6 500ms -865ms linear infinite;
  animation: clip 3000ms -1800ms linear infinite,
    glitch6 500ms -865ms linear infinite;
}
@-webkit-keyframes glitch6 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #f75049;
  }
  85% {
    transform: translateX(-4px);
    color: #4e9a26;
  }
  90% {
    transform: translateX(-1px);
    color: #ac1212;
  }
  95% {
    transform: translateX(3px);
    color: #f75049;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glitch6 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #f75049;
  }
  85% {
    transform: translateX(-4px);
    color: #4e9a26;
  }
  90% {
    transform: translateX(-1px);
    color: #ac1212;
  }
  95% {
    transform: translateX(3px);
    color: #f75049;
  }
  100% {
    transform: translateX(0);
  }
}
.line:nth-child(7) {
  -webkit-animation: clip 3000ms -2100ms linear infinite,
    glitch7 500ms -265ms linear infinite;
  animation: clip 3000ms -2100ms linear infinite,
    glitch7 500ms -265ms linear infinite;
}
@-webkit-keyframes glitch7 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #f75049;
  }
  85% {
    transform: translateX(5px);
    color: #4e9a26;
  }
  90% {
    transform: translateX(-1px);
    color: #ac1212;
  }
  95% {
    transform: translateX(5px);
    color: #f75049;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glitch7 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #f75049;
  }
  85% {
    transform: translateX(5px);
    color: #4e9a26;
  }
  90% {
    transform: translateX(-1px);
    color: #ac1212;
  }
  95% {
    transform: translateX(5px);
    color: #f75049;
  }
  100% {
    transform: translateX(0);
  }
}
.line:nth-child(8) {
  -webkit-animation: clip 3000ms -2400ms linear infinite,
    glitch8 500ms -838ms linear infinite;
  animation: clip 3000ms -2400ms linear infinite,
    glitch8 500ms -838ms linear infinite;
}
@-webkit-keyframes glitch8 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #f75049;
  }
  85% {
    transform: translateX(-3px);
    color: #4e9a26;
  }
  90% {
    transform: translateX(-1px);
    color: #ac1212;
  }
  95% {
    transform: translateX(2px);
    color: #f75049;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glitch8 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #f75049;
  }
  85% {
    transform: translateX(-3px);
    color: #4e9a26;
  }
  90% {
    transform: translateX(-1px);
    color: #ac1212;
  }
  95% {
    transform: translateX(2px);
    color: #f75049;
  }
  100% {
    transform: translateX(0);
  }
}
.line:nth-child(9) {
  -webkit-animation: clip 3000ms -2700ms linear infinite,
    glitch9 500ms -443ms linear infinite;
  animation: clip 3000ms -2700ms linear infinite,
    glitch9 500ms -443ms linear infinite;
}
@-webkit-keyframes glitch9 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #f75049;
  }
  85% {
    transform: translateX(2px);
    color: #4e9a26;
  }
  90% {
    transform: translateX(0px);
    color: #ac1212;
  }
  95% {
    transform: translateX(3px);
    color: #f75049;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glitch9 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #f75049;
  }
  85% {
    transform: translateX(2px);
    color: #4e9a26;
  }
  90% {
    transform: translateX(0px);
    color: #ac1212;
  }
  95% {
    transform: translateX(3px);
    color: #f75049;
  }
  100% {
    transform: translateX(0);
  }
}
.line:nth-child(10) {
  -webkit-animation: clip 3000ms -3000ms linear infinite,
    glitch10 500ms -134ms linear infinite;
  animation: clip 3000ms -3000ms linear infinite,
    glitch10 500ms -134ms linear infinite;
}
@-webkit-keyframes glitch10 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #f75049;
  }
  85% {
    transform: translateX(-1px);
    color: #4e9a26;
  }
  90% {
    transform: translateX(-1px);
    color: #ac1212;
  }
  95% {
    transform: translateX(4px);
    color: #f75049;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glitch10 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #f75049;
  }
  85% {
    transform: translateX(-1px);
    color: #4e9a26;
  }
  90% {
    transform: translateX(-1px);
    color: #ac1212;
  }
  95% {
    transform: translateX(4px);
    color: #f75049;
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes clip {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
    clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
  }
  100% {
    -webkit-clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
    clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
  }
}

@keyframes clip {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
    clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
  }
  100% {
    -webkit-clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
    clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
  }
}
*,
body,
button,
a,
.cursor {
  cursor: url("https://cdn.jsdelivr.net/gh/linux-superuser666/linux-superuser666@main/img/cursorv2.png"),
    auto;
}
